[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
extensions = mr.developer

auto-checkout = *
always-checkout = true
sources-dir = checkouts

package-name = degu.educa
package-extras = [test]

parts += omelette

[instance]
eggs +=
    Pillow

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
